.project {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  position: relative;
  @media (max-height: 650px) {
    margin-left: 0;
  }
}

.frontCard,
.backCard {
  background-color: white;
  width: 442px;
  height: 473px;
  border-radius: 10px;
  transition: transform 0.3s, background-color 0.3s;
  @media screen and (max-width: 1200px) {
    scale: 0.9;
  }
  @media (max-height: 650px) {
    scale: 0.7;
  }
}

.frontCard {
  z-index: 2;
  box-shadow: 4px 4px 4px 0 rgba(20, 7, 30, 0.23);
}

.hoveredFrontCard {
  transform: translateX(5px) rotateZ(5deg);
  background-color: #fb4fac;
}

.backCard {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
  position: absolute;
  top: 7px;
  left: 8px;
  padding: 20px 20px 20px 312px;
  transition: transform 0.3s;
  animation: slideAnimation 0.5s ease-in-out;
}
.hoveredBackCard {
  transform: translateX(17px) translateY(1px);
}
.clickedBackCard {
  transform: translateX(30%)
}

.holoBackground {
  background-image: url("/images/cardTexture.png");
  display: flex;
  justify-content: center;
  padding: 19px;
  border-radius: 10px;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
}

.description {
  font-size: 1.3rem;
  font-weight: 450;
  margin-bottom: 2px;
}

.link {
  font-size: 1.125rem;
  margin-bottom: 7px;
  span {
    text-decoration: underline;
  }
}

.wrapperName {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-top: 6px;
}

.wrapperDesc {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttonAttachments {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.buttonAttachments:hover {
  color: #4b4655;
  box-shadow: 0 2px 3px 0 rgba(126, 95, 228, 0.75);
}

.badges {
  display: flex;
  align-items: center;
}

.story {
  font-size: 14px;
  font-weight: 450;
  white-space: pre-wrap;
}
@media (max-width: 768px) {
  .buttonAttachments{
    display: none;
  }
  .frontCard{
    width: 300px;
    height: 400px;
  }
  .backCard{
    display: none;
  }
  .badges{
    flex-wrap: wrap;
  }
  .wrapperDesc{
    height: 32%;
  }
  .title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: -8px;
  }

  .description {
    font-size: 1.15rem;

  }

}
