.project {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  position: relative;
}

.frontCard, .backCard {
  background-color: white;
  width: 442px;
  height: 473px;
  border-radius: 10px;
}
.frontCard{
  z-index: 2;
  box-shadow: 4px 4px 4px 0 rgba(20, 7, 30, 0.23);
}
.backCard {
  z-index: 1;
  position: absolute;
  top: 7px;
  left: 8px;
}

.holoBackground {
  background-image: url("/images/cardTexture.png");
  display: flex;
  justify-content: center;
  padding: 19px;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
}

.description {
  font-size: 1.3rem;
  font-weight: 450;
  margin-bottom: 2px;
}
.link {
  font-size: 1.125rem;
  margin-bottom: 7px;
  span{
    text-decoration: underline;
  }
}

.wrapperName {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-top: 6px;
}
.wrapperDesc{
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttonAttachments {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  &:hover{
    color: #4b4655;
    box-shadow: 0 2px 3px 0 rgba(126, 95, 228, 0.75);
    .backCard{
      transition: 0.3s;
      transform: translateX(5px) rotateZ(5deg);
      background-color: #FB4FAC;
    }
  }
}

.badges {
  display: flex;
  align-items: center;
}
.story{
  font-size: 21px;
  font-weight: 450;
  padding: 20px;
  white-space: pre-wrap;
}
