@import '../src/app/_globals.scss';

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 10.14vw);
  height: 100%;
}

.welcomeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  position: relative;
  height: 30.26vh;
  width: 52.14vw;
}

.rectangleBack {
  border: 2px solid $accent-color;
  border-radius: 10px;
  height: 28.30vh;
  width: 50.49vw;
  left: 0;
  top: 0;
}

.rectangleMain {
  background: linear-gradient(
                  180deg,
                  rgba(108.99, 121.66, 235.66, 0.4) 0%,
                  rgba(221.99, 118.43, 238.85, 0.4) 100%
  );
  border-radius: 10px;
  height: 28.30vh;
  width: 50.49vw;
  left: 0.76vw;
  top: 0.76vw;
}

.rectangleFront {
  border: 2px solid #d0d4f4;
  border-radius: 10px;
  height: 28.30vh;
  width: 50.49vw;
  left: 1.24vw;
  top: 1.02vw;
}

.textBack {
  -webkit-text-stroke: 2px $accent-color;
  color: transparent;
  font-size: 4.8vw;
  font-weight: 700;
  text-align: center;
  left: 50%;
  top: 8.78vh;
  transform: translateX(-50%);

}

.textFront {
  color: white;
  font-size: 4.8vw;
  font-weight: 700;
  text-align: center;
  left: 50%;
  top: 9.16vh;
  transform: translateX(-50%);

}

.textSub {
  color: white;
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
  left: 70%;
  top: 18.62vh;
  transform: translateX(-50%);
}

/* positioning rules */
.welcome {
  position: relative;
}
.rectangleBack,
.rectangleMain,
.rectangleFront,
.textBack,
.textFront,
.textSub {
  position: absolute;
}


@media screen and (max-width: 768px) {
  .welcome {
    height: 47.26vh;
    width: 57.14vw;
  }
  .textBack, .textFront {
    font-size: 5.5vh;
    width: 12vh;
    white-space: pre-wrap;
    word-break: break-all;
    span{
      display: none;
    }
  }
  .textSub{
    font-size: 3vw;
    left: 50%;
    top: 45vh;
  }
  .rectangleBack,
  .rectangleMain,
  .rectangleFront{
    height: 42.63vh;
    width: 50.13vw;
  }
  .rectangleBack{
    left: 0;
    top: 0;
  }
  .rectangleMain{
    left: 1.76vw;
    top: 1.76vw;
  }
  .rectangleFront{
    left: 3.24vw;
    top: 3.02vw;
  }
}
@media (max-height: 650px){
  .textSub{
    font-size: 1.7vw;
    top: 21vh;
  }
}

