.badge{
  padding: 1px 9px;
  border-radius: 13px;
  border: 4px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-right: 7px;
}
.text{
  font-weight: 600;
  font-size: 19px;
  text-align: right;
  text-transform: uppercase;
  margin-left: 5px;
}