.budge{
  padding: 7px 10px;
  border-radius: 7px;
  border: 3.5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  font-size: 20px;

}
.text{
  font-weight: 600;
  font-size: 19px;
  text-align: right;
  text-transform: uppercase;
  margin-left: 5px;
}