$accent-color: #FB4FAC;
$main-color: #1F2130;
$angular-color: #d6002f;
$react-color: #57D3F5;
$css-color: #254cdd;
$scss-color: #da629d;
$html-color: #dd4b25;
$js-color: #efd81d;
$ts-color: #2f74c0;
$api-color: #a4aae4;
$tailwind-color: #44a1ad;
$next-color: #1a1b21;
$code-review-color: #35b94a;