@import "globals";
.main {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 13.07vh 0;
}
.mainLeftFixed{
  position: absolute;
  right: calc(97.15vw - 25px);
  width: 25px;
  z-index: 9;
  background-color: $main-color;
  height: 73.89vh;
}
.mainCanvas{
  background-color: $main-color;
  width: 300vw;
  overflow-x: clip;
  height: 71.73vh;
  margin-left: calc(2.85vw + 33px);
}

