@import '../src/app/_globals.scss';
.marquee{
  background: #1F2130;
  width: 97.15vw;
  height: 7.95vh;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 86.96vh;
  display: flex;
  align-items: center;
  marquee {
    margin: 0 9px;
    width: 32vw;
  }
  .marquee__front-text{
    position: relative;
    z-index: 2;
  }
  .marquee__back-text{
    position: absolute;
    top: -2px;
    left: -3px;
    z-index: 1;
    color: transparent;
    -webkit-text-stroke: 1px $accent-color;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .stroke-blue{
    -webkit-text-stroke:1px #4FBDFB;
  }
  .marquee-mobile{
    display: none;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    .marquee__back-text{
      top: 14px;
    }
    p {
    display: inline-block;
    animation: marqueeAnimation 10s linear infinite;
  }
    @keyframes marqueeAnimation {
     from {
       transform: translateX(25%);
     }
     to {
       transform: translateX(-100%);
     }
   }
  }



  p{
    margin-left: 5px;
    font-weight: 450;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    color: white;
    @media (max-width: 768px){
      font-size: 16px;
    }
  }

}
@media (max-width: 768px){
  .marquee{
    margin-top: 81.96vh;
    .marquee-mobile{
      display: block;
    }
  }
  marquee{
    display: none;
  }

}
